<ion-header>
  <custom-logged-header [title]="'Agenda de Ambientes' | capitalize:true"></custom-logged-header>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="inAddEvent">
    <form [formGroup]="form">
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>


      <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)"
        color="danger">
        <div [hidden]="!form.controls.name.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Hora</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="hrEvento"></ion-datetime>
      </ion-item>
      <ion-item
        *ngIf="!form.controls.hrEvento.valid && (form.controls.hrEvento.dirty || form.controls.hrEvento.touched)"
        color="danger">
        <div [hidden]="!form.controls.hrEvento.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" formControlName="dtEvento"></ion-datetime>
      </ion-item>
      <ion-item
        *ngIf="!form.controls.dtEvento.valid && (form.controls.dtEvento.dirty || form.controls.dtEvento.touched)"
        color="danger">
        <div [hidden]="!form.controls.dtEvento.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Local</ion-label>
        <ion-select formControlName="ambient">
          <ion-option *ngFor="let ambient of ambients" value="{{ambient.$key}}">{{ ambient.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item
        *ngIf="!form.controls.ambient.valid && (form.controls.ambient.dirty || form.controls.ambient.touched)"
        color="danger">
        <div [hidden]="!form.controls.ambient.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-input type="description" formControlName="description"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="!form.controls.description.valid && (form.controls.description.dirty || form.controls.description.touched)"
        color="danger">
        <div [hidden]="!form.controls.description.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>
      
      <div padding>
        <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
      </div>
    </form>
  </ng-container>
  <ion-card *ngFor="let event of events | async">
    <ion-card-content>
      <ion-card-title>
        {{ event.name }} - {{ event.author.name }}
      </ion-card-title>
      <p>
        {{ event.description}}
      </p>
      <p style="font-size: 90%"><i>Data do Evento: {{ event.dtEvento }}</i></p>
      <p style="font-size: 90%"><i>Hora do Evento: {{ event.hrEvento }}</i></p>
      <p style="font-size: 90%"><i>Local do Evento: {{ event.ambient.name }}</i></p>
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>